
*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 14px;
  font-family:raleway;
}
hr{
  background-color: #FF4D00;
  height: 2px;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  margin-top: 30px;
}
header{
  width: 100%;
  height: 50px;
  background-color: #FF4D00;
  display: inline-block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
header nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}
header nav form {
  display: inline-block;
}
header nav form input[type=text]{
  text-decoration: line-through;
  font-size: 1.5em;
  width: 600px;
  height: 40px;
  margin-top: 2.3px;
  border-radius: 10px;
}
header nav form input[type=submit]{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
header nav ul {
  display: inline-block;
}
header nav ul li {
  display: inline-block;
  padding: 15px;

}
.bannercontainer {
  justify-content: center;
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}
#banner{
  width: 100%;
  margin-top: 10px;
}
#maincontainer{
  display: block;
  max-width: 960px;
  margin: auto;
  margin-top: 50px;
}
#galeriaMain{
  margin-top: 20px;
  margin-bottom: 20px;
}
.galerycontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
.galerycontainer img{
  margin-bottom: 40px;

}
h2{
  margin-top: 20px;
  margin-bottom: 10px;
}
.Categories-container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#redes{
  display: block;
  align-items: flex-end;
  margin: 0 auto;
  margin-top: 50px;
}
footer{
  background-color: #ccc;
  margin-top: 40px;
}
.informacion{
  max-width: 960px;
  margin: 0 auto;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
#copy {
  display: block;
  max-width: 100%;
  color: white;
  background-color: black;
}



/*Aqui comenamos con el mains7*/

#mains7{
  max-width: 960px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.galerias7{
  display: flex;
  max-width:200px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10px;
  justify-content: space-around;
}
.galerias7 img{
  margin: 0.8px;
  margin-top: 5px;
}
.pagar{
  max-width: 760px;
  display: inline-block;
  justify-content: center;
  align-content: center;
  margin-top: 40px;
}
.pagar h2{
  margin-bottom: 40px;
}

.pagar input {
  display: inline-block;
  width: 80px;
  height: 30px;
}
.pagar input[type=number]{
  display: inline-block;
  width: 35px;
  height: 30px;
}
.pagar img{
  display: inline-block;
  position: relative;
  top: 10px;

}
#pago{
display:block;
margin-top: 30px;
}
.tipos {
  display: block;
  width: 960px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

p{
  width: 800px;
  margin-top: 40px;
  text-align: justify;
}
